{% load static tailwind_tags %}
{% load tailwind_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <script src="https://kit.fontawesome.com/43b5f69107.js" crossorigin="anonymous"></script>
</head>
<body class="bg-pri">
    <!-- Forum header displaying only account icon and login/signup redirect link-->
    <header class="p-4 flex justify-between bg-[#fff] ">
        <div class="sitelogo">
            <p class="to-slate-950 text-xl">FF</p>
        </div>
        <nav class="flex">
            {% if user.is_authenticated %}
            <ul class="pr-2">
                <li class="inline-block text-lg px-2">School News</li>
                <li class="inline-block text-lg">Events</li>
            </ul>
            <div class="user">
                <span class="acct text-xl">
                    {{ user.username }}
                </span>
                {% else %}
                <span class="reg">
                    <a href="/login">Login</a>
                </span>
                {% endif %}
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}

    <script src="{% static 'script/scripts.js' %}"></script>
</body>
</html>